.container { 
    padding: 20px;
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;    
}

img {
    height: 200px;
    width: 200px;
    margin-left: 0;
    float: left;
    margin: 5px;
}

h1 { 
    float: left;
    background-color: #7dc896;
    color: white;
    width: 100px;
    height: 20px;
    padding: 20px;
    margin-left: 26%;
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;  
}
h2 {
    color: #7dc896;
    clear: left; 
    margin-left: 0;
    padding: 20px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px #666 solid;
    margin-bottom: 20px;
    background-image: url("../images/gplaypattern.png");
}
nav {
    float: right;
    margin-top: 30px;
    background-color: white;
    margin-right: 25%;
}
nav li {
    display: inline;
    padding: 0px;
    margin-right: 40px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}
nav li a {
    text-decoration: none;
    color: #666;
}

#detailbox {
    margin-left: 0;
    margin-right: 0;
}

#insidedetailbox{
    margin-left: 0;
    border: 5px black;
}
body {
    margin-left: 0;
    margin-right: 0;
    border: 5px black;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;

}
#fancybox {
    background-image: url("../images/gplaypattern.png");
    padding: 20px;
    border: 1px black solid;    
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}
footer {
    text-align: center;
    margin-bottom: 0;
    background-color: #7dc896;
    padding: 10px;

}